@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!-- Navigation Bar -->
<div class="flex flex-col min-h-screen w-72 border-r border-gray-200 dark:border-gray-700 bg-gray-100 dark:bg-gray-900">
    <!-- SpendWise Title -->
    <div class="p-4 text-center">
        <h2 class="mt-2 font-medium text-3xl">
            <span class="text-black dark:text-white">Spend</span><span class="text-blue-500">Wise</span>
        </h2>
    </div>

    <!-- Profile Picture -->
    <div class="text-center mt-5">
        <img class="w-20 h-20 rounded-full mx-auto" src="~/img/profile-logo.png" alt="Profile Picture" />
    </div>
    <!-- Navigation -->
    <nav class="flex-1 pl-5 lg:pl-4 mt-5 overflow-y-auto bg-gray-100 dark:bg-gray-900 ">
        <ul class="w-full flex flex-col">
            <li class="my-2">
                <a asp-controller="Home" asp-action="Index" class="flex items-center py-3 px-4 rounded-l
                    @(ViewData["Title"] != null && ViewData["Title"].ToString() == "Home Page" ?
                    "active bg-blue-500 text-white border-r-4 border-blue-200  hover:no-underline hover:text-blue-500" :
                    "text-gray-500 dark:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-500 hover:no-underline")">
                    <i class="fas fa-home mr-4"></i> Home
                </a>
            </li>
            <li class="my-2">
                <a asp-controller="Wallet" asp-action="Index" class="flex items-center py-3 px-4 rounded-l
                    @(ViewData["Title"].ToString() == "Wallet Page" ?
                    "active bg-blue-500 text-white border-r-4 border-blue-200  hover:no-underline hover:text-blue-500" :
                    "text-gray-500 dark:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-500 hover:no-underline")">
                    <i class="fas fa-wallet mr-4"></i> Wallet
                </a>
            </li>
            <li class="my-2">
                <a asp-controller="Category" asp-action="Index" class="flex items-center py-3 px-4 rounded-l 
                    @(ViewData["Title"].ToString() == "Category Page" ?
                   "active bg-blue-500 text-white border-r-4 border-blue-200  hover:no-underline hover:text-blue-500" :
                    "text-gray-500 dark:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-500 hover:no-underline")">
                    <i class="fas fa-layer-group mr-4 text-blue"></i> Category
                </a>
            </li>
            <li class="my-2">
                <a asp-controller="Transaction" asp-action="Index" class="flex items-center py-3 px-4 rounded-l
                    @(ViewData["Title"].ToString() == "Transaction Page" ?
                    "active bg-blue-500 text-white border-r-4 border-blue-200  hover:no-underline hover:text-blue-500" :
                    "text-gray-500 dark:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-500 hover:no-underline")">
                    <i class="fas fa-file-invoice-dollar mr-4"></i> Transaction
                </a>
            </li>
            <li class="my-2">
                <a asp-controller="Settings" asp-action="Index" class="flex items-center py-3 px-4 rounded-l
                    @(ViewData["Title"].ToString() == "Settings Page" ?
                    "active bg-blue-500 text-white border-r-4 border-blue-200  hover:no-underline hover:text-blue-500" :
                    "text-gray-500 dark:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-500 hover:no-underline")">
                    <i class="fas fa-cog mr-4"></i> Settings
                </a>
            </li>
            <li class="mt-auto pt-5 my-2">
                <a id="logoutLink" asp-action="SignOutUser" asp-controller="Account" class="flex items-center py-3 px-4 rounded-l text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700 dark:text-gray-500 hover:text-red-500 hover:bg-gray-200 no-underline hover:no-underline hover:scale-105 transition-transform duration-200">
                    <i class="fas fa-sign-out-alt mr-4 text-red-500"></i> Logout
                </a>
            </li>
        </ul>
    </nav>

</div>
<script>
    // Logout confirmation dialog
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();

        Swal.fire({
            text: "Are you sure you want to log out?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#a6a6a6',
            confirmButtonText: 'Logout'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = this.getAttribute('href');
            }
        });
    });
</script>
