@{
    ViewData["Title"] = "Create";
}

@using ASI.Basecode.Data.Models
@using ASI.Basecode.Services.ServiceModels

<!-- Modal Structure -->
<div id="addTransactionModal" class="modal fixed inset-0 bg-gray-800 bg-opacity-50 items-center justify-center hidden">
    <div id="addModalContent" class="modal-content bg-gray-300 dark:bg-gray-700 p-6 rounded-lg shadow-lg w-full max-w-lg mx-auto">
        <div class="flex justify-between items-center mb-2">
            <h2 class="text-2xl font-bold dark:text-white">Add Transaction</h2>
            <button id="closeTransactionModal" class="absolute top-2 right-2 text-gray-400 hover:bg-gray-200 p-2 w-10 rounded-full">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <p class="text-gray-600 mb-4 dark:text-gray-300">Fill out all the fields below to add a transaction</p>

        <form id="transactionForm" method="post" action="/Transaction/Create">
            @Html.AntiForgeryToken()

            <!-- Category and Wallet Fields in Two Columns -->
            <div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2">
                <!-- Category Field -->
                <div>
                    <label for="transactionCategory" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                        Category <i class="text-red-500">*</i>
                    </label>
                    <select id="transactionCategory" name="CategoryId" required class="dark:bg-gray-700 mt-1 block w-full px-4 py-2 border rounded-md text-gray-900 dark:text-white">
                        <option class="text-gray-500" value="" disabled>Select category</option>

                        @if (ViewData["Categories"] is List<MCategory> categories && categories.Any())
                        {
                            foreach (var category in categories)
                            {
                                <option value="@category.CategoryId" data-type="@category.Type">@category.Icon @category.Name</option>
                            }
                        }
                        else
                        {
                            <option value="" disabled>&#x1F937; No Entries yet</option>
                        }

                    </select>
                </div>

                <!-- Wallet Field -->
                <div>
                    <label for="transactionWallet" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                        Wallet <i class="text-red-500">*</i>
                    </label>
                    <select id="transactionWallet" name="walletId" required class="dark:bg-gray-700 mt-1 block w-full px-4 py-2 border rounded-md text-gray-900 dark:text-white">
                        <option class="text-gray-500" value="" disabled selected>Select Wallet</option>
                        @foreach (var wallet in ViewData["Wallets"] as List<WalletViewModel>)
                        {
                            <option value="@wallet.WalletId" data-balance="@wallet.WalletBalance">@wallet.WalletIcon @wallet.WalletName</option>
                        }
                    </select>
                    <span id="walletBalance" class="text-gray-500 text-xs mt-2 dark:text-gray-300" style="display: none;"></span>
                </div>

            </div>

            <!-- Amount Field -->
            <div class="mb-6">
                <label for="transactionAmount" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Amount <i class="text-red-500">*</i>
                </label>
                <input type="number" step="0.01" id="transactionAmount" name="Amount" placeholder="0.00" required class="dark:bg-gray-700 mt-1 block w-full px-4 py-2 border rounded-md text dark:text-white" />
            </div>

            <!-- Type Field -->
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700 inline dark:text-gray-300">
                    Type 
                </label>
                <span class="text-gray-500 text-xs inline-block mb-2 dark:text-gray-300">(Select A type) <i class="text-red-500">*</i></span>
                <div class="flex space-x-4">
                    <button type="button" id="createExpenseButton" class="type-button px-4 py-2 border rounded-md bg-gray-200 text-gray-800 transform transition-transform duration-200 hover:scale-105">
                        Expense
                    </button>
                    <button type="button" id="createIncomeButton" class="type-button px-4 py-2 border rounded-md bg-gray-200 text-gray-800 transform transition-transform duration-200 hover:scale-105">
                        Income
                    </button>
                </div>
                <input type="hidden" name="TransactionType" id="transactionType" value="Expense" />
                <input type="hidden" name="TransactionSort" value="Transaction" />
            </div>

            <!-- Date Field -->
            <div class="mb-6">
                <label for="transactionDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Date <i class="text-red-500">*</i>
                </label>
                <input type="date" id="transactionDate" name="TransactionDate" required class="dark:bg-gray-700 dark:text-white mt-1 block w-full px-4 py-2 border rounded-md text-gray-900" />
            </div>

            <!-- Note Field -->
            <div class="mb-6">
                <label for="transactionNote" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Note
                    <span class="text-gray-500 text-xs dark:text-gray-300">(Optional)</span>
                </label>
                <textarea id="transactionNote" name="Note" placeholder="Enter note" rows="4" class=" mt-1 block w-full px-4 py-2 border rounded-md dark:bg-gray-700 text-gray-900 dark:text-white"></textarea>
            </div>

            <!-- Submit and Reset Buttons -->
            <div class="flex mt-6">
                <button type="button" id="resetTransactionFormButton" class="w-1/2 mr-3 bg-gray-200  text-gray-800 hover:bg-gray-300  py-3 rounded-md">
                    Reset
                </button>

                <button type="submit" class="w-1/2 ml-3 bg-blue-500 hover:bg-blue-700 text-white  py-3 rounded-md">
                    Confirm
                </button>
            </div>

        </form>
    </div>
</div>
