@{
    ViewData["Title"] = "Details";
}
@using ASI.Basecode.Services.ServiceModels

<div class="overflow-x-auto shadow-md ">
    <table class="min-w-full table-auto bg-white rounded-lg">
        <thead class="bg-gray-200">
            <tr>
                <th class="p-4">Category</th>
                <th class="p-4">Type</th>
                <th class="p-4">Amount</th>
                <th class="p-4">Account</th>
                <th class="p-4">Date</th>
                <th class="p-4">Note</th>
                <th class="p-4 text-center justify-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["Transactions"] is List<TransactionViewModel> transactions)
            {

                if (transactions.Count > 0)
                {
                    @Html.AntiForgeryToken()
                    foreach (var transaction in transactions)
                    {
                        <tr class="">
                            <td class=" px-4 py-3">@transaction.CategoryName</td>
                            <td class="px-4 py-3">
                                <span class="inline-block px-2 py-1 @(transaction.TransactionType == "Expense" ? "bg-red-400 text-white" : "bg-green-500 text-white") rounded">
                                    @transaction.TransactionType
                                </span>
                            </td>

                            <td class=" px-4 py-3">₱ @transaction.Amount</td>
                            <td class=" px-4 py-3">@transaction.DebitLiabilityName</td>
                            <td class=" px-4 py-3">@transaction.TransactionDate.ToShortDateString()</td>
                            <td class=" px-4 py-3">@transaction.Note</td>
                            <td class=" px-4 py-3 flex justify-center space-x-2">
                                <button data-id="@transaction.TransactionId"
                                        class="editTransaction bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded-lg transition duration-150 editTransaction">
                                    Edit
                                </button>
                                <button data-id="@transaction.TransactionId"
                                        class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white px-2 py-1 rounded-lg transition duration-150 deleteTransaction">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class=" px-4 py-3 text-center">No entries yet.</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
