@{
    ViewData["Title"] = "Details";
}
@using ASI.Basecode.Services.ServiceModels

<table class="min-w-full table-auto">
    <thead class="bg-gray-200">
        <tr>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Description</th>
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Account</th>
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2 ">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["Transaction"] is List<TransactionViewModel> transactions)
        {
            foreach (var transaction in transactions)
            {
                <tr>
                    <td class="border px-4 py-2">@transaction.CategoryId</td>
                    <td class="border px-4 py-2">@transaction.Description</td>
                    <td class="border px-4 py-2">₱ @transaction.Amount</td>
                    <td class="border px-4 py-2">@transaction.DeLiId</td>
                    <td class="border px-4 py-2">@transaction.TransactionDate</td>
                    <td class="border px-4 py-2">
                        <button class="bg-blue-500 text-white px-3 py-1 rounded-lg">Edit</button>
                        <button class="bg-red-500 text-white px-2 py-1 rounded-lg">Delete</button>
                    </td>
                </tr>
            }
        }
      
    </tbody>
</table>

